body,
button,
input,
select,
textarea {
	color: #455a64;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

body.post-type-page,
body.post-type-post {
	max-width: 790px;
}

blockquote,
q {
	quotes: "" "";
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

hr {
	height: 1px;
	margin-bottom: 1.5em;
	border: 0;
	background-color: #eceff1;
}

img {
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	height: auto;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

::-webkit-input-placeholder {
	color: #607d8b;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #607d8b;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #607d8b;
}

:-ms-input-placeholder {
	color: #607d8b;
}

::selection {
	color: #fff;
	background: #f06292;
}

::-moz-selection {
	color: #fff;
	background: #f06292;
}

ul,
ol {
	margin: 0 0 1.5em 0;
	padding-right: 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-right: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

table {
	width: 100%;
	margin: 0 0 1.5em;
}

caption {
	font-weight: bold;
}

th {
	font-weight: normal;
}

caption {
	margin-bottom: 1em;
}

th,
td {
	padding: 0.5em;
	border-bottom: 1px solid #eceff1;
	text-align: right;
}

thead th {
	border-bottom: 2px solid #eceff1;
}

.table-responsive {
	display: block;
	overflow-x: auto;
	width: 100%;
	min-height: 0;
	margin-bottom: 1.5em;
}

.table-responsive > table {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 0 0 1rem;
}

p {
	margin: 0 0 1.5rem;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	overflow: auto;
	max-width: 100%;
	margin-bottom: 1.6em;
	padding: 1.6em;
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

a {
	color: #ec407a;
	text-decoration: none;
	transition: color 0.25s ease-in-out, background 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

a:hover,
a:focus,
a:active {
	color: #f06292;
}

a:focus {
	outline: thin dashed;
}

a:hover,
a:active {
	outline: 0;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: none;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
	max-width: 100%;
}

/** SVG icon */

.icon {
	display: inline-block;
	position: relative; /* Align more nicely with capital letters */
	top: -0.0625rem;
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
	transition: opacity ease-in-out 0.25s;

	fill: currentColor;
}

.icon-stroke {
	display: inline-block;
	position: relative; /* Align more nicely with capital letters */
	top: -0.05em;
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
	transition: opacity ease-in-out 0.25s;

	fill: none;
	stroke: currentColor;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 6.25%;
}

svg,
svg symbol {
	overflow: visible;
}

.svg-fallback {
	display: none;
}

.no-svg .svg-fallback {
	display: inline-block;
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
	overflow: hidden;
	max-width: 100%;
	margin-bottom: 1.5em;
	padding: 0.5em;
	border: 1px solid #eceff1;
	border-bottom-width: 3px;
	border-radius: 3px;
	background-color: #fff;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption > a {
	display: block;
}

.wp-caption > a img {
	vertical-align: middle;
}

.wp-caption > a:hover img,
.wp-caption > a:focus img {
	opacity: 0.5;
}

.wp-caption-text {
	margin-bottom: 0;
	padding: 1em 1em 0.5em;
	font-size: 14px;
	font-size: 0.875rem;
	text-align: center;
}


/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery {
	margin-bottom: 20px;
}

.gallery-item {
	float: right;
	overflow: hidden;
	position: relative;
	margin: 0 0 4px 4px;
}

.gallery-item img {
	vertical-align: middle;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: -webkit-calc(50% - 4px);
	max-width: calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: -webkit-calc(33.3% - 4px);
	max-width: calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width: calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width: calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width: calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width: calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width: calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width: calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-left: 0;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: right;
}

.gallery-caption {
	position: absolute;
	bottom: 0;
	right: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-height: 50%;
	margin: 0;
	padding: 6px 8px;
	opacity: 0;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 12px;
	line-height: 1.5;
	text-align: right;
}

.gallery-caption:before {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	min-height: 49px;
	content: "";
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}
