<div class="wrap timely ticketing">
	<h2>{{ title | raw }}</h2>
	<div id="poststuff">
		<div class="ai1ec-tickets-pending">
			{{ message | raw }}
		</div>
	</div>{# /#poststuff #}
</div>{# /.wrap #}

