<div class="wrap timely ticketing" style="max-width: 550px;">
	<h2>{{ title | raw }}</h2><br>
	<div id="poststuff" style="min-width:550px;">
		{{ signup_form | raw }}
	</div>{# /#poststuff #}
	
	{% if show_info is defined and show_info %}
	<div class="ai1ec-ticketing-info timely-saas">
		<br><br>
		Timely Ticketing saves you both time and money.<br><br>
Save time by setting up your ticketing/registration when you're creating and editing your event all through your calendar dashboard. No need to manage your event and ticketing/registration in two different systems.<br><br>
Save money by only paying for your annual subscription and PayPal transaction costs. Unlike other ticketing platforms, Timely does not take any commissions. Events that are free have no additional costs other than your annual subscription. Create as many ticketing/registration events as you like.<br><br>
People can use credit cards or their PayPal account to purchase tickets.<br><br>

Timely Ticketing is not enabled for this website. Please sign up for Ticketing <a href="https://time.ly/tickets-existing-users/" target="_blank">here.</a>
		<br><br>
		<b>Sample checkout.</b> Site visitor stays on your calendar/website. Look may vary slightly depending on customizations.
		<div id="ai1ec-tickets1"></div>
		<b>Sample receipt.</b> Look may vary slightly depending on customizations.
		<div id="ai1ec-tickets2"></div>
	</div>
	{% endif %}
</div>{# /.wrap #}

